@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f1f1f1;
    --bg-secondry: #fbfbfb;
    --dark-gray: #333;
    --light-brown: #c7a17a;
    --black: #1f2226;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    color: var(--dark-gray);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility classes */
.container {
    max-width: 1200px;
    margin: auto;
}

.text-primary {
    color: var(--light-brown);
}

.text-secondary {
    color: var(--black);
}

.title h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.title span {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

}

/* Utility classes  End*/

/* Header start */
#header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

#header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

#header .nav-bar .logo img {
    width: 300px;
}

#header .nav-bar ul {
    display: flex;
}

#header .nav-bar ul li a {
    color: var(--dark-gray);
    font-size: 18px;
    margin: 0 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

#header .nav-bar ul li a:hover {
    color: var(--light-brown);
}

.humberger {
    display: none;
}

/* Header  End*/
/* Home start */
#home {
    background: url(../imgs/home-bg.png) no-repeat center center;
    background-size: cover;
    background-color: var(--bg-color);
}

#home .container .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    gap: 3rem;
    align-items: center;
}


#home .container .content .content-text h1 {
    font-size: 40px;
    margin: 20px 0;
    text-transform: uppercase;
    line-height: 1.3;
}

#home .container .content .content-text p {
    font-size: 18px;
    line-height: 1.5;
}

#home .container .content .content-text .btn {
    display: inline-block;
    margin-top: 2rem;
    background-color: var(--light-brown);
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

#home .container .content .content-text .btn:hover {
    background-color: var(--dark-gray);
}

#home .container .content .content-text .btn i {
    margin-left: 10px;
}

#home .container .content img,
#about .container .content img {
    display: block;
    width: 100%;
}

/* Home End */
/* About start */
#about {
    background-color: var(--bg-secondry);
}

#about .container .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 0;
    align-items: center;
    gap: 3rem;
}

#about .container .content .content-text h2 {
    text-transform: uppercase;
    color: var(--light-brown);
    font-size: 36px;
    font-weight: 800;
}

#about .container .content .content-text p {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 20px;
    line-height: 1.3;
    color: var(--dark-gray);
}

#about .container .content .content-text h3 {
    text-transform: capitalize;
    color: var(--black);
    font-size: 24px;
    font-weight: 600;
}

/* About End */
/* Menu start */
#menu {
    background-color: var(--bg-color);
}

#menu .title,
#contact .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}

#menu .title .filter-button {
    margin: 2rem 0;
}

#menu .title .filter-button button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--dark-gray);
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s all ease;
}

#menu .title .filter-button button:hover {
    background-color: var(--light-brown);
}

#menu .container .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
}

#menu .container .content .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 25px 20px;
}


#menu .container .content .item img {
    width: 100px;
}

#menu .container .content .item .details {
    margin-left: 20px;
}

#menu .container .content .item .details h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

#menu .container .content .item .details p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;

}

#menu .container .content .item .price {
    border-left: 1px solid #ddd;
    padding: 20px;
    margin: auto;
}

#menu .container .content .item .price p {
    font: 20px;
    font-weight: 600;
}

/* Menu end */
/* testimonals start */
#testimonals {
    padding: 5rem 0;
}

#testimonals .row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    position: relative;
}

#testimonals .row .col img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    margin-top: -50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#testimonals .row .col {
    background-color: var(--bg-color);
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
    display: none;
    position: relative;
}
#testimonals .row .col.active {
    display: block;
}
#testimonals .row .prev,
#testimonals .row .next {
    position: absolute;
    top: 60%;
    border: none;
    border-radius: 50%;
    background-color: var(--light-brown);
    padding: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all ease;
}
#testimonals .row .prev{
    left: -15px;
}
#testimonals .row .next{
    right: -15px;
}

#testimonals .row .prev:hover,
#testimonals .row .next:hover{
    background-color: var(--dark-gray);
}
#testimonals .row .dots {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    bottom: -30px;
}
#testimonals .row .dots .dot {
    width: 10px;
    height: 10px;
    background-color: var(--bg-secondry);
    display: inline-block;
    border: 1px solid #333;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s all ease;
}
#testimonals .row .dots .dot.active{
    background-color: var(--light-brown);
}

#testimonals .row .col h3 {
    margin: 20px 0 10px;

}

#testimonals .row .col p {
    line-height: 1.6;
}

/* testimonals end */
/* contact start */
#contact {
    background-color: var(--bg-color);

}

#contact .row {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    margin-top: 2rem;
}

#contact .row .content-text {
    background: #fff;
    padding: 2.5rem;
}

#contact .row .content-text h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
}

#contact .row .content-text form input,
#contact .row .content-text form textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ccc;
}

#contact .row .content-text form .btn-submit {
    background-color: var(--black);
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    transition: 0.3s all ease;
    border: none;
}

#contact .row .content-text form .btn-submit:hover {
    background-color: var(--light-brown);
}

#contact .row .map iframe {
    width: 100%;
    height: 100%;
}

/* contact end */
/* footer start */
#footer .footer-top {
    background: url(../imgs/footer-bg.png);
    color: #fff;
    padding: 5rem 0;
}

#footer .footer-top .container .row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
}

#footer .footer-top .container .row h3 {
    text-transform: capitalize;
    font-size: 24px;
    color: #fff;
}

#footer .footer-top .container .row ul li {
    margin: 10px 0;
}

#footer .footer-top .container .row ul li p {
    width: 400px;
    line-height: 1.6;
    margin: 20px 0;
}

#footer .footer-top .container .row ul li i {
    margin-right: 5px;
    font-size: 18px;
}

#footer .footer-top .container .row .col ul li a {
    margin: 20px 0;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    transition: all 0.3s ease;
}

#footer .footer-top .container .row .col a:hover {
    color: var(--light-brown);
}

#footer .footer-down {
    padding: 10px;
    background: var(--dark-gray);
}

#footer .footer-down p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

/* footer end */