@media (max-width : 1000px) {
    .container {
        max-width: 900px;
    }

    #header .nav-bar {
        max-width: 900px;
    }

    #header .nav-bar .logo img {
        width: 250px;
    }

    #home .container .content {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        min-height: 75vh;
        padding: 5rem 0;
    }

    #home .container .content .content-text h1 {
        font-size: 50px;
    }

    #home .container .content img,
    #about .container .content img {
        width: 500px;
        margin: auto;
    }

    #about .container .content,
    #menu .title,
    #contact .title,
    #testimonals {
        padding: 2rem;
    }

    #contact .row {
        grid-template-columns: 1fr;

    }

    #contact .row .map iframe {
        height: 300px;
    }

    #footer .footer-top .container .row {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width : 750px) {

    /* Header start */

    .humberger{
        position: relative;
        display: block;
        font-size: 20px;
        width: 45px;
        height: 45px;
    }
    .humberger i {
        position: absolute;
        inset: 0;
        width: max-content;
        height: max-content;
        margin: auto;
        opacity: 0;
        transition: 0.3s all ease;
    }
    .humberger i.active{
        opacity: 1;
        transform: rotate(180deg);
    }
    #header .nav-bar {
        margin-bottom: 10px;
        position: relative;
    }
    #header .nav-bar ul{
        position: absolute;
        flex-direction: column;
        top: 50px;
        left: 0;
        background-color: #fff;
        width: 100%;
        opacity: 0;
        transition: 0.3s all ease;
    }
    #header .nav-bar ul.active{
        opacity: 1;
    }
    #header .nav-bar ul li {
        padding: 10px 0;
        border-bottom: 1px solid #000;
    }
    #header .nav-bar .logo img {
        width: 150px;
    }
    #header .nav-bar ul li:last-child{
        border: none;
    }

    /* header End */
    #home .container .content img,
    #about .container .content img {
        width: 300px;
    }

    #header .nav-bar ul li a {
        font-size: 14px;
        margin: 0 10px;
    }

    #home .container .content {
        display: flex;
        flex-direction: column-reverse;
        padding: 5rem 2rem;
        text-align: center;
    }

    #home .container .content .content-text h3 {
        font-size: 18px;
    }

    #home .container .content .content-text h1 {
        font-size: 30px;
    }

    #home .container .content .content-text p {
        font-size: 14px;
    }

    #menu .container .content,
    #testimonals .row,
    #contact .row,
    #about .container .content {
        grid-template-columns: 1fr;
    }

    #about .container .content {
        padding: 2rem;
        text-align: center;
    }

    #about .container .content .content-text h2 {
        font-size: 30px;
    }

    #about .container .content .content-text p {
        font-size: 14px;
    }

    #about .container .content .content-text h3 {
        font-size: 14px;
    }

    .title h2 {
        font-size: 28px;
    }

    .title span {
        font-size: 16px;
    }

    #menu .container .content {
        gap: 2rem;
    }

    #menu .container .content .item .details p {
        font-size: 14px;
    }

    #home .container .content .content-text .btn {
        padding: 15px 30px;
    }

    #testimonals .row .col {
        margin-bottom: 3rem;
    }

    #footer .footer-down {
        font-size: 20px;
    }

    #footer .footer-top p {
        font-size: 14px;
        margin: 20px 0;
    }
}